<!-- HTML DEL COMPONENTE -->
<!-- Contenedor general -->
<div class="contenedor">

    <!-- CABECERA -->
    <div class="cabecera">
      <!-- Texto de la cabecera -->
      <h1>COMPONENTE - RELOJ MUNDIAL</h1>
    </div>
  
    <!-- RELOJ ACTUAL -->
    <div class="reloj">
      <!-- Muestra la hora actual -->
      <p>Hora Actual: {{ formatearFecha(horaActual) }}</p>
    </div>
  
    <!-- ZONAS HORARIAS -->
    <div class="zonasHorarias">
      <!-- Muestra las horas de las diferentes zonas horarias -->
      <p>Colombia: {{ formatearFecha(horaColombia) }}</p>
      <p>Charlotte: {{ formatearFecha(horaCharlotte) }}</p>
      <p>Argentina: {{ formatearFecha(horaArgentina) }}</p>
    </div>
  </div>
  
  
  
  
