/* ESTILOS GENERALES */
/* Estilo del contenedor principal */
.contenedor {
    background-color: #f8f8f8;
    color: black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ESTILOS PARA LOS ELEMENTOS DENTRO DEL CONTENEDOR */
h4, label, input, a, button {
    margin: 10px 0;
}

/* ESTILOS ESPECÍFICOS PARA LA VISTA DE EDICIÓN */
.edit-form {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* ESTILOS ADICIONALES SEGÚN SEA NECESARIO */
.badge {
    cursor: pointer;
}

.badge-primary,
.badge-danger,
.badge-success {
    margin-right: 10px;
}
