<div class="contenedor">
    <h1>Componente - Ventana</h1>

    <button (click)="openNewWindow()">Open</button>
    <button (click)="closeWindow()">Close</button>

    <button (click)="moveWindowTo()">Move To</button>
    <button (click)="moveWindowBy()">Move By</button>

    <button (click)="resizeWindowTo()">Resize To</button>
    <button (click)="resizeWindowBy()">Resize By</button>

    <button (click)="scrollWindowTo()">Scroll To</button>
    <button (click)="scrollWindowBy()">Scroll By</button>

    <button (click)="blurWindow()">Blur</button>
    <button (click)="stopWindow()">Stop</button>
    <button (click)="alertWindow()">Alert</button>
    <button (click)="printWindow()">Print</button>
    <button (click)="promptWindow()">Prompt</button>
    <button (click)="confirmWindow()">Confirm</button>
</div>
