/* ESTILOS GENERALES */
/* Estilo del contenedor principal */
.contenedor {
    background-color: #f8f8f8;
    color: black;
    padding: 20px;
    text-align: center;
}

/* ESTILOS DE LA CABECERA */
/* Estilo del contenedor de cabecera */
.cabecera {
    background-color: #e57373;
    padding: 10px;
    margin: 0;
}

/* Estilo del texto de la cabecera */
h1 {
    color: white;
}

/* Estilos de los botones de ventan */
button {
    background-color: #e57373;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e57373;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s;
}

/* Estilo del cursor al pasar el mouse por encima */
button:hover {
    background-color: rgb(0, 0, 0);
    color: #e57373;
}

/* Estilos específicos para el contenedor de botones */
.usosWindow {
    margin-top: 20px;
}