<!-- HTML DEL COMPONENTE -->
<!-- Contenedor general -->
<div class="contenedor">

  <!-- CABECERA -->
  <div class="cabecera">
    <!-- Texto de la cabecera -->
    <h1>GESTOR - NOTAS</h1>
  </div>

  <!-- BUSCADOR -->
  <div class="col-md-8">
    <!-- Formulario de búsqueda -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar nota por título" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <!-- LISTA DE TUTORIALES -->
  <div class="col-md-6">
    <h4>LISTA DE NOTAS</h4>
    <ul class="list-group">
      <!-- Lista de tutoriales -->
      @for (tutorial of tutorials; track tutorial; let i = $index) {
      <li class="list-group-item" [class.active]="i == currentIndex" (click)="setActiveTutorial(tutorial, i)">
        {{ tutorial.title }}
      </li>
      }
    </ul>

    <!-- Botón para borrar todos los tutoriales -->
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Borrar todas
    </button>
  </div>
  <!-- DETALLE DE TUTORIAL -->
  <div class="col-md-6">
    <!-- Detalle de tutorial -->
    <app-tutorial-details [viewMode]="true" [currentTutorial]="currentTutorial"></app-tutorial-details>
  </div>
</div>