<footer class="nga-footer mt-auto">
  <div class="container py-3 text-center">
      <div class="row">
          <div class="col-12 mb-3">
              <div>
                  <a href="https://www.linkedin.com/in/judith-carrasco-becerril-51980a19b/" target="_blank" class="nga-btn-social nga-btn-linkedin" aria-label="Linkedin">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#" class="nga-btn-social nga-btn-twitter" aria-label="Twitter">
                      <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://github.com/Srta-Becerril" target="_blank" class="nga-btn-social nga-btn-github" aria-label="Github">
                      <i class="fab fa-github"></i>
                  </a>
              </div>
          </div>
          <div class="col-12">
              <p class="footer-text">© 2024 Todos los derechos reservados. Judith Carrasco Becerril. DWEC.</p>
          </div>
      </div>
  </div>
</footer>

