/* ESTILOS GENERALES */
:host {
  display: block;
  grid-area: footer;
}

/* ESTILOS DEL FOOTER */
/* Estilo del contenedor principal */
.nga-footer {
  background-color: #212121;
  color: white;
  padding: 20px 0;
}

/* Estilo de los botones de red social */
.nga-btn-social {
  font-size: 34px;
  margin: 0 10px;
  color: white;
  transition: 0.2s;
}

/* Estilo de los botones de red social al hacer hover */
.nga-btn-social:hover {
  color: #e57373; 
}

/* Estilo del texto del footer */
.footer-text {
  color: white;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}