<div class="nga-container-sidebar">
    <ul class="list-unstyled p-2">
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="false">
                API proyects
            </button>
            <div class="collapse" id="home-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/clima" class="link-dark rounded"><i
                                class="fa-cloud fa-solid text-primary mt-1 me-2"></i>Clima App</a>
                    </li>
                    <li>
                        <a routerLink="/github" class="link-dark rounded"><i
                                class="fa-cloud fa-solid text-primary mt-1 me-2"></i>GitHub App</a>
                    </li>
                    <li>
                        <a routerLink="/apod" class="link-dark rounded"><i
                                class="fa-cloud fa-solid text-primary mt-1 me-2"></i>NASA App</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Forms
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/bootstrap/buttons" class="link-dark rounded">
                            <i class="fab fa-artstation text-primary mt-1 me-2"></i>Buttons</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn nga-btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
                Extra
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="nga-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a routerLink="/bootstrap/accordions" class="link-dark rounded">
                            <i class="far fa-address-card text-primary mt-1 me-2"></i>Accordions</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>