/* ESTILOS GENERALES */
/* Estilo del contenedor principal */
.contenedor {
    background-color: #f8f8f8;
    color: black;
    padding: 20px;
    text-align: center;
}

/* ESTILOS DE LA CABECERA */
/* Estilo del contenedor de cabecera */
.cabecera {
    background-color: #e57373;
    padding: 10px;
    margin: 0;
}

/* Estilo del texto de la cabecera */
h1 {
    color: white;
}

/* ESTILOS DE CARGAR ARCHIVOS */
/* Estilo de la barra de carga */
.subida {
    margin-top: 20px;
}

/* Estilo de la entrada de fichero */
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e57373;
    border-radius: 5px;
}

/* Estilo del placeholder del input */
input::placeholder {
    color: #e57373;
}

/* Estilo del cursor al pasar el mouse por encima */
input:hover {
    background-color: rgb(0, 0, 0);
    color: #e57373;
    transition: 0.3s;
}

/* Estilo del botón de subida */
#botonSubida {
    background-color: #e57373;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e57373;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

/* Estilo del cursor al pasar el mouse por encima */
#botonSubida:hover {
    background-color: rgb(0, 0, 0);
    color: #e57373;
}

/* ESTILOS DE RESULTADO DEL ARCHIVOS */
/* Estilos de la lista de archivos subidos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del texto de archivos */
h4 {
    color: #e57373;
}

/* Estilos de la imagen del archivo subido */
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}