:host {
  display: block;
  grid-area: header;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Establece un valor alto para asegurarte de que esté por encima */
}

/* Estilos del dropdown */
.dropdown-menu {
  background-color: #343a40; 
  transition: 0.3s;
}

.dropdown-item {
  color: white;
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #e57373;
  color: white;
}

.nav-link:hover {
  color: #e57373;
}

/* Formulario de búsqueda */
.form-control {
  background-color: white;
  color: black;
  border: 1px solid #e57373;
  transition: 0.3s;
}

.form-control:hover {
  background-color: #e57373;
}

.form-control::placeholder {
  color: rgb(179, 179, 179);
}

.btn-outline-success {
  color: #e57373;
  border: 1px solid #e57373;
}

.btn-outline-success:hover {
  background-color: #e57373;
  color: white;
}

/* Estilos para el navbar */
.navbar-nav .nav-link,
.navbar-toggler-icon {
    color: white;
    transition: 0.3s;
}

/* Estilos para el navbar cuando se hace hover */
.navbar-nav .nav-link:hover {
  color: #e57373; 
}
